<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="cn.odboy.core.dal.mysql.tools.LocalStorageMapper">
    <select id="queryLocalStoragePageByArgs" resultType="cn.odboy.core.dal.dataobject.tools.LocalStorageDO">
        select
        *
        from tool_local_storage
        <where>
            <if test="args.blurry != null and args.blurry != ''">
                AND (
                name LIKE CONCAT('%',#{args.blurry},'%')
                OR suffix LIKE CONCAT('%',#{args.blurry},'%')
                OR type LIKE CONCAT('%',#{args.blurry},'%')
                OR create_by LIKE CONCAT('%',#{args.blurry},'%')
                )
            </if>
            <if test="args.createTime != null and args.createTime.size() > 0">
                AND update_time BETWEEN #{args.createTime[0]} AND #{args.createTime[1]}
            </if>
        </where>
        ORDER BY id DESC
    </select>
</mapper>